@model BeachTime.Models.ConsultantEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Update Profile</h2>

<h3>dialog/description on updating profile</h3>

<ul>
    <li>Projects input + label</li>
    
    <table>
        <th>Project Name</th><th>Status</th><th>Update Project</th>
        @{
            foreach (var item in Model.Projects)
            {
                <tr>
                    <td>@item.ProjectName</td>
                    <td>@item.IsCompleted.ToString()</td>
                    <td>@Html.ActionLink("Update", "UpdateProject", "Consultant", new { id = item.ProjectId }, null)</td>
                </tr>
            }
        }
    </table>
    @Html.ActionLink("Add new project", "CreateProject", "Consultant")

    <li>skill tags (mention delimiter, or maybe <a href="http://xoxco.com/projects/code/tagsinput/">use this plugin for tagging system</a>)</li>
    <li>Update profile button to submit changes -> redirect to Consultant/Index</li>
</ul>

<div>
    @using (Html.BeginForm("Edit", "Consultant", FormMethod.Post, new { @class = "form-horizontal", role="form"}))
    {
        @Html.AntiForgeryToken();
        
        <h2>Update profile form, needs actual implementation</h2>
        //  Rest of form goes here
        @Html.EditorForModel();
        
        <input type="submit" value="Update Profile" />
    }
</div>