@model BeachTime.Models.ConsultantEditViewModel

@Styles.Render("~/Content/css")

@{
    Layout = null;
}

@{
    ViewBag.Title = "Edit";
}
    
    Please provide some information about your current project, relevant tags for skills and expertise, and upload
    a resume and other related files that Account Executive may need.

    <tr><th>Project Name</th>
        <th>Status</th>
        <th>Update Project</th>
    </tr>

    @{
        foreach (var item in Model.Projects)
        {
            <tr>
                <td>@item.ProjectName</td>
                <td>
                    @{
                        if (item.IsCompleted)
                        {
                            @:Completed
                        }
                        else
                        {
                            @:In progress
                        }
                    }
                </td>
                <td>@Html.ActionLink("Update", "UpdateProject", "Consultant", new {id = item.ProjectId}, null)</td>
            </tr>
        }
    }
    
    <div>
        @using (Html.BeginForm("Edit", "Consultant", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            
            @Html.AntiForgeryToken();

            @:Skills:

            var skills = String.Empty;

            foreach (var item in Model.SkillList)
            {
                skills += item + ",";
            }

            @Html.EditorFor(m => m.SkillsString);

            <input type="submit" class="btn btn-default btn-sm" value="Update Skills" /> 
            
        }

    </div>
    


