@model BeachTime.Models.ConsultantIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Consultant Dashboard</h2>

    <h3>
        Welcome,
        @Html.ValueForModel(Model.FirstName) @Html.ValueForModel(Model.LastName)
    </h3>

    <h3>Status: @Html.ValueForModel(Model.Status)</h3>
    <p>dashboard stuff:</p>
    <ul>

        <li>
            Projects:
            @{
                foreach (var item in Model.Projects)
                {
                    @Html.ValueForModel(item.ProjectName);
                    @:,&nbsp;
                }
            }
        </li>


        <li>
            account tags (skills):
            @{
                foreach (var item in Model.SkillList)
                {
                    @Html.ValueForModel(item);
                    @:,&nbsp;
                }
            }
        </li>

        <li>resume+other files list (with links to view and remove individual files)</li>

        <li>add new file link</li>

        <li>update profile button (either opens new page OR popup window <a href="http://stackoverflow.com/questions/4803424/mvc-pop-up-windows">EXAMPLE</a> or <a href="http://www.dotnet-tricks.com/Tutorial/mvc/42R0171112-CRUD-Operations-using-jQuery-dialog-and-Entity-Framework---MVC-Razor.html">2nd EXAMPLE</a>)</li>
        <li>@Html.ActionLink("UPDATE PROFILE", "Edit", "Consultant")</li>
    </ul>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" align="center">
            <a class="btn btn-primary" href="#success" data-toggle="modal"><h5>Update Profile</h5></a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-success" style="background-color: #00D5FF;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Update Your Profile</h3>
            </div>
            <div class="modal-body" style="background-color:#EDE7E0">
                <iframe src="~/Consultant/Edit" width="570" height="315"></iframe>
            </div>
            <div class="modal-footer" style="background-color:#EDE7E0">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" align="center">
                        <a type="submit" href="#success" class="btn btn-primary" data-dismiss="modal"><h5>Update</h5></a>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->