@using BeachTime.Models
@model BeachTime.Models.ConsultantIndexViewModel

@{
    ViewBag.Title = "Index";
}


<div class="row text-center">
    <div class="col-xs-12">
        <h2 class="text-primary">
            <b>Consultant Dashboard</b>
        </h2>
        <h3 class="text-secondary">
            @Html.ValueForModel(Model.FirstName) @Html.ValueForModel(Model.LastName)
        </h3>
        <h4>Status: @Html.ValueForModel(Model.Status)</h4>

    </div>


</div>


<div class="row">


    <h3 class="text-primary">
        <b>Projects</b>
    </h3>

    <div class="col-xs-12 col-md-3">
        <p class="text-secondary">
            Add any past or current projects that you have worked on or are working on that may be useful to Account Executives when assigning new projects.
        </p>
    </div>

    <div class="col-xs-12 col-md-9">
        <div class="centered">


            <table class="table table-stretch">
                <thead>

                    <tr>
                        <th>Project Name</th>
                        <th>Completed?</th>
                        <th>Update Project</th>
                    </tr>
                </thead>
                <tbody>


                    @{
                        foreach (var item in Model.Projects)
                        {
                            <tr>
                                <td>@item.ProjectId @item.ProjectName</td>
                                <td>
                                    @{
                            if (item.IsCompleted)
                            {
                                @:<span class="text-success">&#10004;</span>
                                }
                            else
                            {
                                @:<span class="text-danger">&#10006;</span>
                                }

                                    }
                                </td>
                                <td>@Html.ActionLink("Update", "UpdateProject", new { id = item.ProjectId }, new { @class = "modal-link btn btn-warning btn-sm" })</td>
                            </tr>
                        }
                    }

                    <tr>
                        <td>
                            @Html.ActionLink("Create Project", "CreateProject", null, new { @class = "modal-link btn btn-sm btn-success" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>


</div>

<div class="row">
    <h3 class="text-primary">
        <b>Skills</b>
    </h3>

    <div class="col-xs-12 col-md-3">
        <p class="text-secondary">
            Use this area to display skills that you possess; programming languages, frameworks, tools, and whatever else you feel comfortable using on a project.
        </p>
    </div>

    <div class="col-xs-12 col-md-9">
        
        <div class="centered">

            <table class="table table-stretch">
                <thead>

                    <tr>
                        <th>Skill</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in Model.SkillList)
                        {
                            <tr>
                                <td>@item</td>
                                <td>
                                    @using (Html.BeginForm("DeleteSkill", "Consultant", new { name = item} , FormMethod.Post, new {@id = "projectForm", @class = "form-horizontal", role = "form"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" class="btn btn-danger btn-sm" value="&#10006;" />

                                    }
                                </td>
                            </tr>
                        }
                    }

                    <tr>
                        @using (Html.BeginForm("AddSkill", "Consultant", FormMethod.Post, new { @id = "projectForm", @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()



                            <td>
                                @Html.EditorFor(model => model.SkillViewModel)

                            </td>

                            <td>
                                <input type="submit" class="btn btn-success btn-sm" value="&#10010;" />
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        
        

        
    </div>


</div>




<div class="row">
    <h3 class="text-primary">
        <b>Files</b>
    </h3>

    <div class="col-xs-12 col-md-3">
        <p class="text-secondary">
            Upload your résumé and any other documents you think would be important for people to see.
        </p>
    </div>

    <div class="col-xs-12 col-md-9">

        <div class="centered">

            <table class="table table-stretch">
                <thead>

                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Download Link</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in Model.FileList)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td><a href=@item.Path class="btn btn-sm btn-warning">&#8659;</a></td>
                            </tr>
                        }
                    }

                    <tr>
                        <td>
                            @Html.ActionLink("Upload File", "UploadFile", null, new { @class = "modal-link btn btn-sm btn-success" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>
<div class="form-group">
    <div class="col-md-offset-3 col-md-10" align="center">
        @Html.ActionLink("Create Project", "CreateProject", null, new { @class = "modal-link btn btn-default btn-lg" })
        @Html.ActionLink("Upload File", "UploadFile", null, new { @class = "modal-link btn btn-default btn-lg" })

    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });

</script>
