@model BeachTime.Models.AdminIndexViewModel


@{
    ViewBag.Title = "Index";
}

<h2>Admin Dashboard</h2>

<table>
    <tr>
        <th>UserId&nbsp;&nbsp;&nbsp;</th>
        <th>First Name&nbsp;&nbsp;&nbsp;</th>
        <th>Last Name&nbsp;&nbsp;&nbsp;</th>
        <th>Username&nbsp;&nbsp;&nbsp;</th>
        <th>Email&nbsp;&nbsp;&nbsp;</th>
        <th>UPDATE&nbsp;&nbsp;&nbsp;</th>
    </tr>

    @{
        foreach (var item in Model.UserViewModels)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@Html.ActionLink("UPDATE", "UpdateUser", "Admin", new { id = item.UserId }, null)</td>
            </tr>
        }
    }    

</table>



<table>
    <tr>
        <th>UserId&nbsp;&nbsp;</th>
        <th>Desired Role&nbsp;&nbsp;</th>
        <th>Accept/Deny&nbsp;&nbsp;</th>
    </tr>

    @{
        foreach (var item in Model.RequestViewModels)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.RoleName</td>
                <td>@Html.ActionLink("ACCEPT/DENY", "UpdateRole", "Admin", new { id = item.RequestId }, null)</td>
            </tr>
        }
    }

</table>